@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "League Spartan", system-ui, sans-serif;
    font-weight: 400;
  }

  .btn {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0.25rem;
    width: 3.5rem;
    border-radius: 0.3rem;
    border-bottom: 3px solid transparent;
    padding-top: 0.3rem;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
  }

  .btn-large {
    min-width: 8rem;
  }

  .display {
  }

  .keyboard {
    width: 320px;
    border-radius: 0.3rem;
  }

  .switcher {
  }
}

@layer components {
  .container.light {
    background-color: hsl(0, 0%, 90%);
  }

  .container.dark {
    background-color: hsl(222, 26%, 31%);
  }

  .container.alternative {
    background-color: hsl(268, 75%, 9%);
  }

  .btn.light {
    background-color: hsl(45, 7%, 89%);
    border-color: hsl(35, 11%, 61%);
  }
  .btn.light:hover {
    background-color: white;
  }

  .btn.light.primary {
    background-color: hsl(185, 42%, 37%);
    border-color: hsl(185, 58%, 25%);
    color: white;
  }
  .btn.light.primary:hover {
    background-color: hsl(185, 40%, 56%);
  }

  .btn.light.secondary {
    background-color: hsl(25, 98%, 40%);
    border-color: hsl(25, 99%, 27%);
    color: white;
  }
  .btn.light.secondary:hover {
    background-color: hsl(25, 100%, 60%);
  }

  .btn.dark {
    background-color: hsl(30, 25%, 89%);
    border-color: hsl(28, 16%, 65%);
  }
  .btn.dark:hover {
    background-color: white;
  }

  .btn.dark.primary {
    background-color: hsl(225, 21%, 49%);
    border-color: hsl(224, 28%, 35%);
    color: white;
  }
  .btn.dark.primary:hover {
    background-color: hsl(223, 51%, 75%);
  }

  .btn.dark.secondary {
    background-color: hsl(6, 63%, 50%);
    border-color: hsl(6, 70%, 34%);
    color: white;
  }
  .btn.dark.secondary:hover {
    background-color: hsl(6, 92%, 66%);
  }

  .btn.alternative {
    background-color: hsl(268, 47%, 21%);
    border-color: hsl(290, 70%, 36%);
    color: hsl(52, 100%, 62%);
  }
  .btn.alternative:hover {
    background-color: hsl(267, 53%, 43%);
  }

  .btn.alternative.primary {
    background-color: hsl(281, 89%, 26%);
    border-color: hsl(285, 91%, 52%);
    color: white;
  }
  .btn.alternative.primary:hover {
    background-color: hsl(280, 56%, 44%);
  }

  .btn.alternative.secondary {
    background-color: hsl(185, 42%, 37%);
    border-color: hsl(185, 58%, 25%);
    color: hsl(198, 20%, 13%);
  }
  .btn.alternative.secondary:hover {
    background-color: hsl(176, 100%, 79%);
  }

  .keyboard.light {
    background-color: hsl(0, 5%, 81%);
  }

  .keyboard.dark {
    background-color: hsl(223, 31%, 20%);
  }

  .keyboard.alternative {
    background-color: hsl(268, 71%, 12%);
  }
}
