@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "League Spartan", system-ui, sans-serif;
    font-weight: 400;
  }

  .btn {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0.25rem;
    width: 3.5rem;
    border-radius: 0.3rem;
    border-bottom: 3px solid transparent;
    padding-top: 0.3rem;
    font-weight: 700;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
  }

  .btn-large {
    min-width: 8rem;
  }

  .display {
  }

  .keyboard {
  }

  .switcher {
  }
}

@layer components {
  .btn.light {
    background-color: green;
    border-color: gray;
  }

  .btn.light:hover {
    background-color: yellow;
  }

  .btn.dark {
  }

  .btn.alternative {
  }
}
